<div class="hero min-h-screen bg-base-200 bg-[url('https://images.unsplash.com/photo-1542238060-646c7ed65622?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb')]">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="animate__animated animate__fadeIn text-center lg:text-left w-96 backdrop-blur-sm bg-white/30 p-8 rounded-xl">
      <h1 class="hover:scale-105 transition-all text-9xl font-bold font-Bigelow-Rules drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"><span class="text-red-600">paint</span> <span class="text-yellow-500">shop</span></h1>
    </div>
    <div class="animate__animated animate__fadeIn animate__delay-2s hover:scale-105 transition-all card flex-shrink-0 w-full max-w-sm shadow-2xl bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
