<div class="hero min-h-screen bg-base-200 bg-[url('https://images.unsplash.com/photo-1542238060-646c7ed65622?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb')]">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Seja bem vindo(a)!</h1>
      <p class="py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis temporibus voluptatum officia sed dolores tenetur fugiat! Provident, eum distinctio cumque, quisquam earum veritatis officiis sapiente autem, illum porro deleniti vel?</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="email" class="input input-bordered" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="text" placeholder="password" class="input input-bordered" />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
